.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.174;
  color: $clr-accent;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: 0;
  display: block;
}
.logo-header {
  color: $clr-title;
}

.logo-footer {
  color: $clr-white;
}
